

.card{
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card_top{
    display: flex;
    gap: 5px;
}

.card_top_labels{
    flex: 1;
    display: flex;
    gap: 10px;
}

.card_top svg {
    opacity: 0;
    transition: 200ms;
}

.card:hover .card_top svg{
    opacity: 1;
}

.card_title{
    font-weight: bold;
}

.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_footer span{
    display: flex;
    gap: 5px;
    align-items: center;
}

.card_footer svg{
    height: 18px;
    width: 18px;
}