/* Footer.css */

.footer-container {
background-image: linear-gradient(to left top, #686561, #5f5b59, #555151, #4a4849, #403f40, #414141, #434243, #444444, #515151, #5e5e5e, #6c6c6c, #7a7a7a);
    font-family: 'Montserrat', sans-serif;    color: white;
    /* Set text color to white */
    text-align: center;
    padding: 1rem;
    /* width: 100vw; */
}

.footer-icon {
    font-size: 2rem;
    color: white;
    /* Set the color of the icons to white */
    margin: 0 0.5rem;
}

.footer-copyright {
    font-size: 1rem;
    color: white;
    /* Set the color of the icons to white */
    margin: 0 0.5rem;
}